body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.body {
    float: left;
    width: 100vw;
    height: 95vh;
}

.footer {
    float: left;
    width: 100vw;
    height: 5vh;
    border-top: 2px solid black;
}

.input_div {
    float: left;
    width: 100vw;
    height: 40vh;
    border-bottom: 2px solid black;
}

.expenses {
    float: left;
    width: 50vw;
    height: 40vh;
    border-bottom: 2px solid black;
}

.records {
    float: left;
    width: 50vw;
    height: 55vh;
    border-style: inset;
    border: none;
    border-right: 2px solid black;
}

.history {
    float: left;
    width: 49vw;
    height: 55vh;
    overflow-y: scroll;
}

select {
  width: 60.4%;
  height: 4vh;
  margin-left: 20%;
  margin-top: 5px;
}

input[type="text"], input[type="number"], input[type="password"]{
    width: 60%;
    height: 4vh;
    margin-left: 20%;
    margin-top: 5px;
}

input[type="submit"] {
    width: 60.5%;
    height: 4vh;
    margin-left: 20%;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #008CBA;
    color: #ffffff;
    background-color: #008CBA;
}

input[type="submit"]:hover {
  background-color: #555555;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
    text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008CBA;
  color: white;
}

.item {
  float: left;
  width: 10vw;
  margin-left: 2vw;
  height: 20vh;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.item-title {
  float: left;
  width: 100%;
  height: 70%;
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
}

.item-value {
  float: left;
  width: 100%;
  height: 30%;
  color: black;
  font-size: 16px;
  border: none;
  outline: none;
}

.red {
  background-color: #f44336;
}

.blue {
  background-color: #008CBA;
}

.login {
    float: left;
    width: 50vw;
    height: 30vh; 
    margin-left: 25vw;
    margin-top: 35vh;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.logout {
  float: left;
  width: 200px;
  height: 100%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #008CBA;
  color: #ffffff;
  background-color: #008CBA;
}

.logout:hover {
  background-color: #555555;
  color: white;
}

label {
  float: right;
  margin-right: 10px;
  font-size: 18px;
  padding: 5px;
}

@media (orientation: portrait) {
  .records {
      float: left;
      width: 100vw;
      height: 30vh;
  }
  
  .history {
      float: left;
      width: 100vw;
      height: 20vh;
      overflow-y: scroll;
  }

  .item {
    float: left;
    width: 20vw;
    margin-left: 4vw;
    height: 10vh;
    margin-top: 3.33vh;
  }

  .item-title {
    font-size: 13px;
  }
}